/* =======  variables  ========  */

// colors 
$headline-color: #3b475f;
$text-color: #818c98;
$text-second-color: $text-color;
$link-color: #3b475f;
$blue-color: #26b6cb;


// fonts
$montserrat-font: 'Montserrat', sans-serif;
$opensans-font: 'Open Sans', sans-serif;
$merriweather-font: 'Merriweather', sans-serif;